.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteiner select {
    background-color: rgb(19, 21, 22);
    margin: 5px;
    border-radius: 20px;
    height: 28px;
    border-width: 2px;
    font-size: 15px;


}

.order {
    border-color: aquamarine;
    color: aquamarine;

}

.gender {
    color: aqua;
    border-color: aqua;

}