.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(30, 32, 34);
    padding: 8px;

}
.conteiner button{
    
    background-color: rgb(198, 35, 212);
    padding: 5px;
    margin: 5px;
    font-size: large;
    border-radius: 10px;
}

.conteiner div {
    display: flex;
}

