/* Estilos para el contenedor principal */
.conteiner {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 80vh; /* Altura mínima igual a la altura de la ventana */
    
}

/* Estilos para el contenedor interno que alinea elementos verticalmente */
.center {
    display: flex;
    align-items: center; /* Centra verticalmente */
    background: rgb(19, 21, 22); /* Fondo de la pantalla */
    padding-right: 50px;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0);
}


.imageContainer {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.imageContainer img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 5px solid rgb(0, 0, 0);
}

/* Estilos para el contenedor de la información */
.infoContainer {

    max-width: 400px; 

}

.infoContainer p{
    color: rgb(165, 164, 164);
}

.infoContainer h4 :first-child{
    color: aqua;

}

.infoRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre las filas de información */
}

.infoRow p {
    margin-right: 10px;
}

.nombre{
    transform: translateY(-65px);
}
