.conteiner {
    box-sizing: border-box;
    margin: 10%;
    background: rgb(19, 21, 22);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
}

.conteiner img {
    border-radius: 17px;
    transform: translateY(-32px);
}

.buttons {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.buttons button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: x-large;
}

.buttons p {
    padding: 3px;
    background: rgb(19, 21, 22);
    color: aquamarine;
    background-size: 5px;
    border-radius: 17px;
}

.close {

    font-size: 1px;
}

.cardInfo {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.cardInfo p:nth-child(1){
    color: blueviolet;
}
.cardInfo p:nth-child(2){
    color: blueviolet;
}
.cardInfo p:nth-child(3){
    color: aqua;
}


.nombre {
    color: aliceblue;
    transform: translateY(-30px);
    background-color: black;
    border-radius: 20px;
}
