.App {
   text-align: center;
}

.cartas{
   width: 85%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
   grid-gap: 20px;
}

.nav{
   background-color: cornflowerblue;
   padding: 20px 20px;
}

.card{
   background-color: #ffffff05;
   backdrop-filter: blur(3px);
}

.abouth1{
   background-color: aliceblue;
}

.detail{
   background-color: aliceblue;
}