.App {
   text-align: center;
}

.cartas {
   width: 85%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
   grid-gap: 20px;
}

.nav {
   background-color: cornflowerblue;
   padding: 20px 20px;
}

.card {
   background-color: #ffffff05;
   backdrop-filter: blur(3px);
}

.abouth1 {
   background-color: aliceblue;
}

.detail {
   background-color: aliceblue;
}

.textError {
   text-align: center;
   color: aliceblue;
   position: absolute;
   top: 10px;
   left: 10px;
}

.contenedor {
   position: relative;
   display: inline-block;
   text-align: center;
}

.centrado {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.error404{
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 100vh;
}

.formdiv{
   display: grid;
   justify-content: center;
   align-items: center;
   margin: 300px;
}

.form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 400px;
   background-color: aliceblue;

}